$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

$page-width: 45em;

$bar-height: 52px;
$bar-text-height: 20px;

$border-width: 1px;
$border-radius: 4px;

$outer-margin: 2em;
$inner-margin: 1em;

$total-width: $page-width + 2 * $outer-margin;

$weak: $base1;
$text: $base00;
$strong: $base01;

$background: $base3;
$highlight: $base2;
$border: $base1;

$link: $blue;
$visited: $violet;
$hover: $orange;
$active: $yellow;

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather[opsz,wdth,wght].woff2') format('woff2-variations');
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather-Italic[opsz,wdth,wght].woff2') format('woff2-variations');
    font-style: italic;
}

body {
    font-family: 'Merriweather';
    letter-spacing: 0.1px;
    color: $text;
    background-color: $background;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    margin: 0 auto;
    width: $page-width;
    line-height: 1.5;
    padding: $outer-margin;
}

h1,
h2,
h3,
h4,
strong {
    color: $strong;
}

.zola-anchor {
    position: absolute;
    margin-left: -$inner-margin;
}

.sub {
    color: $weak;
}

.desc {
    font-style: italic;
}

.content {
    margin-top: $outer-margin;
    margin-bottom: $outer-margin;
}

.meta {
    margin-bottom: $outer-margin;

    > h2 {
        margin-top: $outer-margin;
    }

    > div {
        margin-bottom: $inner-margin;
        margin-top: $inner-margin;
        line-height: 2;

        span {
            margin-right: $inner-margin;
        }
    }
}

.tag {
    background-color: $highlight;
    border-radius: $border-radius;
    padding: 2px 7px;
    white-space: nowrap;
}

a {
    text-decoration: none;
    outline: none;

    &:link {
        color: $link;
    }

    &:visited {
        color: $visited;
    }

    &:focus {
        color: $hover;
    }

    &:hover {
        color: $hover;
    }

    &:active {
        color: $active;
    }
}

.nobullet {
    list-style-type: none;
    padding: 0;
}

.metalist {
    margin-bottom: 0.5em;
}

.columns {
    columns: 2 auto;
}

%bar {
    // position: sticky;
    // z-index: 1;

    background-color: $highlight;

    span > a {
        padding: $inner-margin;
    }

    nav {
        height: $bar-height;
        margin: 0 auto;
        max-width: $page-width;
        align-items: center;
        display: flex;

        span:first-child a {
            padding-left: 0;
        }

        span:last-child{
            a {
                padding-right: 0;
            }
            margin-left: auto;
        }
    }
}

$bar-padding: ($bar-height - $bar-text-height) / 2;

header {
    @extend %bar;
    border-bottom: $border-width solid $border;
    top: 0;
}

footer {
    @extend %bar;
    border-top: $border-width solid $border;
    bottom: 0vh;

    .single span {
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;

        &:last-child {
            flex-direction: row-reverse;
        }
    }

    .list {
        $extreme-width: 8em;

        justify-content: center;

        span {
            width: 5em;
            text-align: center;

            &:first-child {
                width: $extreme-width;
                margin-right: auto;
                text-align: left;
            }

            &:last-child {
                width: $extreme-width;
                text-align: right;
            }
        }
    }
}

.search-container {
    $inner-padding: 7.5px;

    padding: ($bar-padding - $inner-padding) $bar-padding;

    input {
        background-color: $background;
        color: $text;
        height: $bar-text-height + 2 * $inner-padding;
        padding: $inner-padding;
        border: $border-width solid $border;
        border-radius: $border-radius;
        outline: none;

        &:focus {
            color: $active;
        }

        &:hover {
            color: $active;
        }

        &:active {
            color: $active;
        }
    }

    .search-results {
        @extend %hidden;
        max-height: 50em;
        overflow: auto;
        width: 26em;
        padding: $inner-margin;

        &__items {
            list-style: none;

            li {
                margin-top: $inner-margin;
            }

            li:first-of-type {
                margin-top: 0;
            }
        }
    }
}

%hidden {
    display: none;
    position: absolute;
    top: $bar-height;
    background-color: $highlight;
    border: $border-width solid $border;
    border-radius: 0 0 $border-radius $border-radius;
    z-index: 1;
}

.grid-wrapper {
    align-items: baseline;
    display: grid;
    grid-template-columns: 5em 3.5em 2em auto;

    ul {
        margin: 0;
    }

    h2, h3, h4 {
        margin: 0;
    }
}

.box-year {
    grid-column-start: 1;
    grid-column-end: 2;
}

.box-month {
    grid-column-start: 2;
    grid-column-end: 3;
}

.box-day {
    grid-column-start: 3;
    grid-column-end: 4;
}

.box-content {
    grid-column-start: 4;
    grid-column-end: 5;
}

.grid-wrapper-hist {
    display: grid;
    grid-template-columns: 7em auto;
    column-gap: 1em;
    row-gap: 2px;
}

.box-date {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: right;
}

.box-name {
    grid-column-start: 2;
    grid-column-end: 3;
}

.list-item {
    margin-bottom: $inner-margin;
}

.dropdown {
    padding: $bar-padding;
    height: $bar-text-height;

    outline: none;

    ul {
        @extend %hidden;

        margin-top: 0;
        margin-left: -$inner-margin;
        padding-left: 2*$inner-margin;

        li {
            position: relative;
            left: -$inner-margin;
            padding-top: $inner-margin / 2;
            padding-bottom: $inner-margin / 2;
        }
    }

    &:focus {
        color: $active;
    }

    &:hover {
        color: $active;

        ul {
            display: block;
        }
    }

    &:focus-within ul {
        color: $active;
        display: block;
    }

}

td {
    vertical-align: top;
}

.footnote-definition {
    &:first-of-type {
        margin-top: 3em;
    }

    p {
        display: inline;
        font-size: 0.8em;
    }
}

.desc {
    font-style: italic;
}

// $break1: 640px;
$break2: 580px;
$break3: 370px;

@media screen and (max-width: $total-width) {
    $mob-width: 90%;
    $mob-pad: (100%-$mob-width)/2;

    main {
        width: $mob-width;
        padding: $mob-pad;
    }

    %bar nav {
        width: $mob-width;
    }

    header {
        .search-container {
            display:none;
        }
    }

    footer .list span {
        width: $mob-width/5;

        &:first-child {
            display:none;
        }

        &:last-child {
            display:none;
        }
    }
}

// @media screen and (max-width: $break1) {
// }

@media screen and (max-width: $break2) {
    footer {
        .single span {
            a:first-child {
                display:none;
            }

            & {
                justify-content: flex-end;
            }
        }
    }

    .columns {
        columns: 1 auto;
    }

    .grid-wrapper {
        display: block;
    }
}

@media screen and (max-width: $break3) {
    header {
        .dropdown {
            display:none;
        }
    }
}
