{% extends "tags/single.html" %}

{% block items %}
{% for page in paginator.pages %}
<li class="list-item">
    <div>
        {{ macros::title(data=page) }}
        <span class="sub">({{- macros::year(data=page) -}})</span>
    </div>
    {{ macros::desc(data=page) }}
</li>
{% endfor %}
{% endblock items %}
