{% extends "base.html" %}

{% block title %}
{{- taxonomy.name | slugify -}}
{% endblock title %}

{% block header %}
{{ taxonomy.name | capitalize }}
{% endblock header %}

{% block content %}
{% if terms %}
<ul class="nobullet columns">
    {% for term in terms %}
    <li class="metalist">
        <a href="{{ term.permalink | safe }}" class="tag">{{ term.name }}</a>
        <span class="sub">({{ term.pages | length }})</span>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}
