{% extends "tags/single.html" %}

{% block content %}

{% block items %}
{% set fltr = "extra.number" %}
{% set srt = "extra.number.0" %}
{% endblock items %}

<ul class="nobullet">
    {% for page in term.pages | sort(attribute=srt) %}
    <li class="list-item">
        <div>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            <span class="sub">(
                {%- if page.taxonomies.years %}
                {{- page.taxonomies.years | sort | first }}
                {% endif %}
                {% if page.taxonomies.media %}
                {{ page.taxonomies.media | first -}}
                {% endif -%}
                )</span>
            {% if page.reading_time %}
            <span class="sub">{{ page.reading_time }} min read</span>
            {% endif %}
        </div>
        {{ macros::desc(data=page) }}
    </li>
    {% endfor %}
</ul>

{% endblock content %}

{# TODO DRY (duplicate of templates/post.html) #}
{% block footer %}
<nav class="single">
    {% set trunc = 10 %}
    <span>
        <a href={{ config.extra.footer.source }}>Source</a>
        {% if page.later %}
        <a href="{{ page.later.permalink }}"> < {{ page.later.title | truncate(length=trunc) }} </a>
        {% endif %}
    </span>
    <span>
        {{ macros::licence() }}
        {% if page.earlier %}
        <a href="{{ page.earlier.permalink }}"> {{ page.earlier.title | truncate(length=trunc) }} > </a>
        {% endif %}
    </span>
</nav>
{% endblock footer %}
