{% extends "base.html" %}

{% block content %}
{% set section = get_section(path="posts/_index.md") %}

<div class="grid-wrapper">

    {% for year, yposts in section.pages | group_by(attribute="year") %}

    <h2 class="box-year">{{ year }}</h2>

    {% for month, mposts in yposts | group_by(attribute="month") %}

    <h3 class="box-month">{{ mposts.0.date | date(format="%b") }}</h3>

    {% for day, posts in mposts | group_by(attribute="day") %}

    <h4 class="box-day">{{ posts.0.date | date(format="%e") }}</h4>

    <ul class="nobullet box-content">
        {% for post in posts %}
        <li>
            <a href="{{ post.permalink }}">
                {{ post.title }}
            </a>
            <span class="sub">(
                {%- if post.taxonomies.years %}
                {{- post.taxonomies.years | sort | first }}
                {% endif %}
                {% if post.taxonomies.media %}
                {{ post.taxonomies.media | first -}}
                {% endif -%}
                )</span>
        </li>
        {% endfor %}
    </ul>

    {% endfor %}

    {% endfor %}

    {% endfor %}

</div>
{% endblock content %}
