{%- import "macros.html" as macros -%}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{ config.title | slugify }}::{% block title %}{{- section.extra.short | slugify -}}{% endblock title %}
        </title>
        {% block rss %}
        {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="Atom" href="{{ get_url(path=config.feed_filename) | safe }}">
        {% endif %}
        {% endblock rss %}
        <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    </head>

    <body>

        <header>
            <nav>

                <span>
                    {% set posts = get_section(path="posts/_index.md", metadata_only=true) %}
                    <a href="{{ get_url(path='posts') }}">{{ posts.extra.short }}</a>
                </span>

                <span class="dropdown" tabindex="0">
                    <div>{{ config.extra.header.metadata_title }}</div>
                    <ul class="nobullet">
                        {% for item in config.taxonomies | sort(attribute="name") %}
                        <li>
                            <a href="{{ get_url(path=item.name) }}">{{ item.name | capitalize }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </span>

                <span class="dropdown" tabindex="0">
                    <div>{{ config.extra.header.archive_title }}</div>
                    <ul class="nobullet">
                        <li>
                            {% set todo = get_section(path="todo/_index.md", metadata_only=true) %}
                            <a href="{{ get_url(path="todo") }}">{{ todo.extra.short }}</a>
                        </li>
                        <li>
                            {% set consumed = get_section(path="consumed/_index.md", metadata_only=true) %}
                            <a href="{{ get_url(path="consumed") }}">{{ consumed.extra.short }}</a>
                        </li>
                        <li>
                            {% set archive = get_section(path="archive/_index.md", metadata_only=true) %}
                            <a href="{{ get_url(path="archive") }}">{{ archive.extra.short }}</a>
                        </li>
                        <li>
                            {% set edited = get_section(path="edited/_index.md", metadata_only=true) %}
                            <a href="{{ get_url(path="edited") }}">{{ edited.extra.short }}</a>
                        </li>
                    </ul>
                </span>

                <span class="search-container">

                    <input id="search" type="search" placeholder="Search">

                    <div class="search-results">
                        <div class="search-results__items"></div>
                    </div>

                </span>

                <span>
                    <a href="{{ get_url(path="") }}">{{ config.title }}</a>
                </span>

            </nav>
        </header>

        <main>
            <h1>
                {% block header %}
                {% if section.title %}
                {{ section.title }}
                {% endif %}
                {% endblock header %}
            </h1>

            {% block description %}
            {% if section.description %}
            <div class="meta desc">
                {{- section.description | safe -}}
            </div>
            {% endif %}
            {% endblock description %}

            <div class="content">
                {% block content %}
                {% if page.content %}
                {{ page.content | safe }}
                {% endif %}
                {% endblock content %}
            </div>
        </main>

        <footer>
            {% block footer %}
            <nav>
                <span><a href={{ config.extra.footer.source }}>Source</a></span>
                <span>{{ macros::licence() }}</span>
            </nav>
            {% endblock footer %}
        </footer>

        <script src="{{ get_url(path="elasticlunr.min.js") }}"></script>
        <script src="{{ get_url(path="search_index.en.js") }}"></script>
        <script src="{{ get_url(path="scripts/search.js") }}"></script>
    </body>

</html>
