{% extends "archive.html" %}

{% block content %}
{% set section = get_section(path="posts/_index.md") %}
{% set known = section.pages | filter(attribute="extra.consumed.0.0") %}

<div class="grid-wrapper-hist">
    {% for page in known | sort(attribute="extra.consumed.0.0") | reverse %}
    {% set dates = page.extra.consumed %}
    <span class="box-date">{{ dates | first | first | date(format="%e %b %Y") }}</span>
    <span class="box-name">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <span class="sub">(
            {%- if page.taxonomies.years %}
            {{- page.taxonomies.years | sort | first }}
            {% endif %}
            {% if page.taxonomies.media %}
            {{ page.taxonomies.media | first -}}
            {% endif -%}
            )</span>
    </span>
    {% endfor %}
</div>
{% endblock content %}
