{% extends "archive.html" %}

{% block content %}
{% set section = get_section(path="posts/_index.md") %}

<div class="grid-wrapper-hist">
    {% for page in section.pages | sort(attribute="updated") | reverse %}
    <span class="box-date">{{ page.updated | date(format="%e %b %Y") }}</span>
    <span class="box-name">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <span class="sub">(
            {%- if page.taxonomies.years %}
            {{- page.taxonomies.years | sort | first }}
            {% endif %}
            {% if page.taxonomies.media %}
            {{ page.taxonomies.media | first -}}
            {% endif -%}
            )</span>
    </span>
    {% endfor %}
</div>
{% endblock content %}
