{% extends "base.html" %}

{% block description %}
<div class="meta">
    <div class="desc">
        {%- if section.description -%}
        {{ section.description | safe }}
        {%- endif -%}
    </div>

    <h2>Currently enjoying</h2>

    <div>
        {% set todo = get_section(path="todo/_index.md") %}
        {% set posts = get_section(path="posts/_index.md") %}
        <ul class="nobullet">
            {% for page in todo.pages | concat(with=posts.pages) %}
            {% if page.extra.active  %}
            <li class="list-item">
                {{ macros::title(data=page) }}
                <span class="sub">({{- macros::year(data=page) }} {{ macros::media(data=page) -}})</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <h2>Counter</h2>

    {{ posts.pages | length }} experiences and {{ todo.pages | length }} anitipated.

    <h2>About</h2>

    <div>
        {%- if section.extra -%}
        {{ macros::postdate(base=section.extra) }}
        {%- endif -%}
    </div>
</div>
{% endblock description %}

{% block content %}
{{ section.content | safe }}
{% endblock content %}
