{% extends "base.html" %}

{% block title %}
{{- page.title | slugify -}}
{% endblock title %}

{% block header %}
{{- page.title -}}
{% endblock header %}

{% block description %}
<div class="meta">
    <div>
        {%- if page -%}
        {{ macros::postdate(base=page) }}
        {%- endif -%}
    </div>

    <div class="desc">
        {%- if page.description -%}
        {{ page.description | safe }}
        {%- endif -%}
    </div>
</div>
{% endblock description %}
