{% macro licence() %}
<a rel="license" href={{ get_url(path="licence") }}>Legal</a>
{% endmacro licence %}

{% macro postdate(base) %}
{%- set dateformat = "%e %b %Y" -%}
{% if base.date %}
<span>{{- base.date | date(format=dateformat) -}}</span>
{%- if base.updated -%}
{%- set new = base.updated | date(format="%s") | int -%}
{%- set orig = base.date | date(format="%s") | int -%}
{%- if new > orig -%}
<span class="sub">Last edit {{ base.updated | date(format=dateformat) -}}</span>
{% endif %}
{% endif %}
{% endif %}
{% endmacro postdate %}

{% macro desc(data) %}
<div>
  {% if data.draft %}
  <span class="desc">DRAFT</span>
  {% endif %}
  {% if data.description %}
  <span class="desc">{{ data.description }}</span>
  {% endif %}
</div>
{% endmacro desc %}

{% macro year(data) %}
{%- if data.taxonomies.years -%}
{{- data.taxonomies.years | sort | first -}}
{%- endif -%}
{% endmacro year %}

{% macro media(data) %}
{%- if data.taxonomies.media -%}
{% for medium in data.taxonomies.media %}
{{- medium -}}
{%- if loop.index != data.taxonomies.media|length -%}
/
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{% endmacro media %}

{% macro title(data) %}
<a href="{{ data.permalink | safe }}">{{ data.title }}</a>
{% endmacro title %}
