{% extends "base.html" %}

{% block title %}
{%- set section = get_section(path=page.ancestors.1, metadata_only=true) -%}
{{- section.extra.short | slugify -}}::{{- page.title | slugify -}}
{% endblock title %}

{% block header %}
{{- page.title -}}
{% endblock header %}

{% block description %}
<div class="meta">
    <div>
        {{ macros::postdate(base=page) }}
        {% if page.reading_time %}
        <span>{{ page.reading_time }} min read</span>
        {% endif %}
    </div>

    <div>
        {% if page.extra.alt %}
        <span class="tag">
            {{- page.extra.alt -}}
        </span>
        {% endif %}

        {% if page.taxonomies.years %}
        <span>
            {% for year in page.taxonomies.years | sort %}
            <a href="{{ get_taxonomy_url(kind="years", name=year) | safe }}" class="tag">{{- year -}}</a>
            {% endfor %}
        </span>
        {% endif %}

        {% if page.taxonomies.media %}
        <span>
            {% for medium in page.taxonomies.media | sort %}
            <a href="{{ get_taxonomy_url(kind="media", name=medium) | safe }}" class="tag">{{- medium -}}</a>
            {% endfor %}
        </span>
        {% endif %}

        {% if page.taxonomies.formats %}
        <span>
            {% for format in page.taxonomies.formats | sort %}
            <a href="{{ get_taxonomy_url(kind="formats", name=format) | safe }}" class="tag">{{- format -}}</a>
            {% endfor %}
        </span>
        {% endif %}

        {% if page.taxonomies.artists %}
        <span>
            {% for artist in page.taxonomies.artists | sort %}
            <a href="{{ get_taxonomy_url(kind="artists", name=artist) | safe }}" class="tag">{{- artist -}}</a>
            {% endfor %}
        </span>
        {% endif %}

        {% if page.taxonomies.series %}
        <span>
            {% for i in range(end=page.taxonomies.series | length) %}
            {% set series = page.taxonomies.series | nth(n=i) %}
            {% set number = page.extra.number | nth(n=i) %}
            <a href="{{ get_taxonomy_url(kind="series", name=series) | safe }}" class="tag">
                {{- series -}}
                {% if number or number == 0 %}
                #{{- number -}}
                {% endif -%}
            </a>
            {% endfor %}
        </span>
        {% endif %}

        {% if page.taxonomies.universe %}
        <span>
            {% for universe in page.taxonomies.universe | sort %}
            <a href="{{ get_taxonomy_url(kind="universe", name=universe) | safe }}" class="tag">{{ universe }}</a>
            {% endfor %}
        </span>
        {% endif %}

        {% if page.taxonomies.tags %}
        <span>
            {% for tag in page.taxonomies.tags | sort %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" class="tag">{{- tag -}}</a>
            {% endfor %}
        </span>
        {% endif %}

        {% if page.extra.links %}
        <span>
            {% for link in page.extra.links %}
            <a href="{{ link | safe }}" class="tag">{{- link | split(pat="/") | nth(n=2) -}}</a>
            {% endfor %}
        </span>
        {% endif %}
    </div>

    {% if page.extra.consumed %}

    {% if page.taxonomies.media %}

    {% if page.taxonomies.media.0 == "book" %}
    {% set verb = config.extra.consume.book %}
    {% elif page.taxonomies.media.0 == "video" %}
    {% set verb = config.extra.consume.video %}
    {% elif page.taxonomies.media.0 == "game" %}
    {% set verb = config.extra.consume.game %}
    {% elif page.taxonomies.media.0 == "web" %}
    {% set verb = config.extra.consume.web %}
    {% else %}
    {% set verb = config.extra.consume.neutral %}
    {% endif %}

    {% else %}
    {% set verb = config.extra.consume.neutral %}
    {% endif %}

    <div class="sub">
        {%- set inaugural = page.extra.consumed | first -%}
        {%- if not inaugural | nth(n=1) and inaugural | length == 2 -%}
        {{ verb.present | capitalize }} since
        {%- else -%}
        {{ verb.past | capitalize }}
        {%- endif -%}

        {%- for dates in page.extra.consumed -%}

        {%- set started = dates | first -%}
        {%- set finished = dates | nth(n=1) -%}
        {%- set single = dates | length == 1 -%}
        {%- set number = page.extra.consumed | length -%}

        {%- if not loop.first and number > 1 -%}
        {%- if number > 2 -%}
        ,
        {%- endif -%}
        {% if loop.last %}
        and
        {% endif %}
        {%- if not single and not finished %}
        since
        {%- endif -%}
        {%- endif -%}

        {%- set dateformat = "%e %b %Y" -%}

        {%- if finished -%}
        {%- set m1 = started | date(format="%m") | int -%}
        {%- set m2 = finished | date(format="%m") | int -%}
        {%- set y1 = started | date(format="%Y") | int -%}
        {%- set y2 = finished | date(format="%Y") | int -%}

        {%- if y1 == y2 -%}
        {%- if m1 == m2 -%}
        {%- set short = "%e" -%}
        {%- else -%}
        {%- set short = "%e %b" -%}
        {% endif %}
        {%- else -%}
        {%- set short = dateformat -%}
        {%- endif %}

        from
        {{ started | date(format=short) }}
        to
        {{ finished | date(format=dateformat) }}
        {%- else %}
        {{ started | date(format=dateformat) }}
        {%- endif -%}

        {%- endfor -%}
    </div>
    {% endif %}

    {% if page.description %}
    <div class="desc">
        {{- page.description | safe -}}
    </div>
    {% endif %}
</div>
{% endblock description %}

{% block footer %}
<nav class="single">
    {% set trunc = 10 %}
    <span>
        <a href={{ config.extra.footer.source }}>Source</a>
        {% if page.later %}
        <a href="{{ page.later.permalink }}"> < {{ page.later.title | truncate(length=trunc) }} </a>
        {% endif %}
    </span>
    <span>
        {{ macros::licence() }}
        {% if page.earlier %}
        <a href="{{ page.earlier.permalink }}"> {{ page.earlier.title | truncate(length=trunc) }} > </a>
        {% endif %}
    </span>
</nav>
{% endblock footer %}
