{% extends "base.html" %}

{% block content %}
<ul class="nobullet">
    {% block items %}
    {% for page in paginator.pages %}
    <li class="list-item">
        <div>
            {{ macros::title(data=page) }}
            <span class="sub">({{- macros::year(data=page) }} {{ macros::media(data=page) -}})</span>
            {% if page.reading_time %}
            <span class="sub">{{ page.reading_time }} min read</span>
            {% endif %}
        </div>
        {{ macros::desc(data=page) }}
    </li>
    {% endfor %}
    {% endblock items %}
</ul>
{% endblock content %}

{% block footer %}
<nav class="list">
    <span>
        <a href={{ config.extra.footer.source }}>Source</a>
    </span>
    {% if paginator.number_pagers > 1 %}
    <span>
        {% if paginator.current_index > 2 %}
        <a href="{{ paginator.first }}"><<</a>
        {% endif %}
    </span>
    <span>
        {% if paginator.current_index > 1 %}
        <a href="{{ paginator.previous }}"><</a>
        {% endif %}
    </span>
    <span>{{ paginator.current_index }}/{{ paginator.number_pagers }}</span>
    <span>
        {% if paginator.current_index < paginator.number_pagers %}
        <a href="{{ paginator.next }}">></a>
        {% endif %}
    </span>
    <span>
        {% if paginator.current_index < paginator.number_pagers - 1 %}
        <a href="{{ paginator.last }}">>></a>
        {% endif %}
    </span>
    {% endif %}
    <span>
        {{ macros::licence() }}
    </span>
</nav>
{% endblock footer %}
